odd/cdcp.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI For Special Collections Consolidated Schema</title>
            </titleStmt>
            <publicationStmt>
                <publisher>Cambridge Digital Collections Platform</publisher>
                <availability status="free">
                    <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium (info@tei-c.org).</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <bibl>
                    <title>TEI For Special Collections Consolidated Schema</title>
                </bibl>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <div xml:id="schema">
                <head>Cambridge Digital Collections Platform</head>
                <schemaSpec ident="cdcp" start="TEI teiCorpus" prefix="tei_" targetLang="en" docLang="en" defaultExceptions="http://www.tei-c.org/ns/1.0 http://www.w3.org/1998/Math/MathML teix:egXML" source="https://raw.githubusercontent.com/tei-for-special-collections/consolidated-schema/refs/heads/main/releases/odd/consolidated-schema.compiled.odd">
                    <moduleRef url="https://www.tei-c.org/release/xml/tei/Exemplars/mathml2-main.rng"/>
                    <moduleRef n="01" key="tei"/>
                    <moduleRef n="02" key="header"/>
                    <moduleRef n="03" key="core"/>
                    <moduleRef n="04" key="textstructure"/>
                    <moduleRef n="05" key="gaiji"/>
                    <moduleRef n="06" key="verse"/><!-- Unused by CUDL-->
                    <moduleRef n="07" key="drama"/><!-- Unused by CUDL-->
                    <moduleRef n="08" key="spoken"/><!-- Unused by CUDL-->
                    <moduleRef n="09" key="cmc"/><!-- Unused by CUDL-->
                    <moduleRef n="18" key="analysis"/>
                    <moduleRef n="10" key="dictionaries"/><!-- Unused by CUDL-->
                    <moduleRef n="11" key="msdescription"/>
                    <moduleRef n="12" key="transcr"/>
                    <moduleRef n="13" key="textcrit"/>
                    <moduleRef n="14" key="namesdates"/>
                    <moduleRef n="15" key="figures"/>
                    <moduleRef n="16" key="corpus"/><!-- Unused by CUDL-->
                    <moduleRef n="17" key="linking"/>
                    <moduleRef n="19" key="iso-fs"/><!-- Unused by CUDL-->
                    <moduleRef n="20" key="nets"/><!-- Unused by CUDL-->
                    <moduleRef n="22" key="certainty"/><!-- Unused by CUDL-->
                    <moduleRef n="23" key="tagdocs"/>

 

                    <elementSpec ident="locus" module="msdescription" mode="change">
                        <constraintSpec ident="locus-from-check" scheme="schematron" mode="add">
                            <constraint>
                                <sch:rule context="tei:locus[normalize-space(@from)][ancestor::tei:msItem][root(.)//tei:facsimile//tei:surface[@n]]">
                                    <sch:assert test="@from=//tei:facsimile//tei:surface/@n" role="error">@from must point to surface/@n</sch:assert>
                                </sch:rule>
                            </constraint>
                        </constraintSpec>
                        <constraintSpec ident="locus-to-check" scheme="schematron">
                            <constraint>
                                <sch:rule context="tei:locus[normalize-space(@to)][ancestor::tei:msItem][root(.)//tei:facsimile//tei:surface[@n]]">
                                    <sch:assert test="@to=//tei:facsimile//tei:surface/@n" role="error">@to must point to surface/@n</sch:assert>
                                </sch:rule>
                            </constraint>
                        </constraintSpec>
                    </elementSpec>
                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
